.contact-container
{ 
    margin-top: 3em;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 55%;
    gap: 10%;
    
}
.contact-details{
  text-align: center;
  margin-top: 3rem;
}
.contact-form{
    text-align: center;
}
.myForm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem; 
    background: transparent;
} 
.InputText{
    width: 100%;
    border: 2px solid var(--orange);
    padding: 15px;
    font-size: 20px;
    border-radius: .5rem;
}

textarea{
    resize: none;
}

.send-a{
    margin: 2rem auto;
    text-align: center;
}

@media screen and (max-width:500px) {
    .contact-container{
        margin-top: 2rem;
        grid-template-columns: 1fr;
    }
}