header{
    height: 670px;
    overflow: hidden;
    padding-top: 2rem;
}
.header-container{
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.headLink{
    display: flex;
    justify-content: center;
    gap: 1rem ;
    margin-top: .5rem;
}
.me{
    width: 30rem;
    height: 100%;
    background: linear-gradient(var(--orange),transparent);
    position: absolute;
    margin-top: 3rem;
    border-radius: 20rem 0rem 0 0 ;
    left: calc(50% - 15rem);   
}

.HomeLinks{
    width: max-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
    gap: 1rem;
    z-index: 3;
}

.scroll-p{
    font-size: 15px;
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    bottom: 100px;
}


@media screen and (max-width:500px) {
   .HomeLinks a{
    color: white;
   }
    .HomeLinks{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 300px;
        gap: 1rem;
    }  

    .scroll-p{
        display: none;
    }
}

@media screen and (max-width:950px) {
    
    .scroll-p{
        display: none;
    }
    .HomeLinks{
        width: max-content;
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 50%;
        gap: 1rem;
        z-index: 3;
    }
    
}