@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

::-webkit-scrollbar{
  display: none;
}

:root{
  --bg-color:#FFFFFF;
  --orange:#F97300;
  --orange-li:#FF935C;
  --sandal-li:#F1C376;

  --transition: all 400ms ease;
}

body{
  font-size: 20px;
  background-color: var(--bg-color);
  color: #625473;
  font-family: 'Rubik', sans-serif;

}

.container{
  width: 75%;
  margin:0 auto;
  
  
}
span{
  color: var(--orange);
}

.btn{
  width: max-content;
  display: inline-block;
  padding: 15px 20px;
  background-color: var(--bg-color);
  color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 2em;
  transition: var(--transition);
}
.btn-primary{
  width: max-content;
  display: inline-block;
  padding: 15px 20px;
  background-color: #F97300;
  color: white;
  border: 2px solid var(--bg-color);
  border-radius: 2em;
  transition: var(--transition);
}

.btn-primary:hover{
  background-color:  rgba(255,255,255,.5);
  color: #F97300;
  border: 2px solid var(--orange);
}

.btn:hover{
  background-color: #F97300;
  color: white;

}



a{
  color: var(--orange);
}


img{
  display: block;
  width: 100%;
  object-fit: cover;
}



section{

  margin-top: 5em;
}

@media screen and (max-width:600px) {
  .container{
    width: 100%;
  }
}

@media screen and (max-width:1024px) {
  .container{
    width: 90%;
  }
 
}
